<footer id="footer" class="footer-l">
    <div class="row">
        <div class="col-2 col-md-2"></div>
        <div class="col-12 col-md-2 ">
            <img class="footer-l__logo" src="../../assets/img/abakate-logo-header.png" alt="Logo">
            <!-- AMANDA 31/08
            <div class="footer-l__social">
                <img id="facebook" src="../../assets/img/facebook.svg" alt="Facebook" class="footer-l__social-icon">
                <img id="twitter" src="../../assets/img/twitter.svg" alt="Twitter" class="footer-l__social-icon">
                <img id="instagram" src="../../assets/img/instagram.svg" alt="Instagram" class="footer-l__social-icon">
                <img id="linkedin" src="../../assets/img/linkedin.svg" alt="LinkedIn" class="footer-l__social-icon">
            </div>-->
        </div>
        <div class="col-6 col-md-2 hide-mobile">
            <ul class="footer-l__list">
                {{ 'AboutAba' | translate }}
                <li class="footer-l__list-item">
                    <a routerLink="/sobre" class="footer-l__link">
                        {{ 'WhoWe' | translate }}
                    </a>
                </li>
                <!-- AMANDA 31/08
                <li class="footer-l__list-item">
                    <a routerLink="/vagas" class="footer-l__link">
                        {{ 'Careers' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="#" class="footer-l__link">
                        {{ 'Press' | translate }}
                    </a>
                </li>-->
                <li class="footer-l__list-item">
                    <a routerLink="/como-funciona" class="footer-l__link">
                        {{ 'HowItWorks' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <span onclick="zE.activate({hideOnClose: true})" class="footer-l__link">
                        {{ 'Contact' | translate }} </span>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 hide-mobile">
            <ul class="footer-l__list">
                {{ 'OperateAba' | translate }}
                <li class="footer-l__list-item">
                    <a id="footer_login" href="{{appURL}}" class="footer-l__link">
                        {{ 'Login' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a id="registro_footer" href="https://app.beta.abakate.com.br/pre-cadastro/cupom" class="footer-l__link">
                        {{ 'CreateAcc' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/como-funciona/#assinatura" class="footer-l__link">
                        {{ 'Signature' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a routerLink="/termos-e-condicoes-de-uso" class="footer-l__link">
                        {{ 'Terms' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a routerLink="/politicas-de-privacidade" class="footer-l__link">
                        {{ 'Privacy' | translate }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-md-2 hide-mobile">
            <ul class="footer-l__list">
                {{ 'AbaGuide' | translate }}
                <li class="footer-l__list-item">
                    <a href="/guia/conta-e-assinatura/" class="footer-l__link">
                        {{ 'AccountAndSign' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/guia/depositos-e-saques/" class="footer-l__link">
                        {{ 'DepositsAndWithdraw' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/guia/compra-e-venda-de-criptomoedas/" class="footer-l__link">
                        {{ 'BuySellCrypto' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/guia/ferramentas-da-abakate/" class="footer-l__link">
                        {{ 'ToolsAba' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/guia/seguranca/" class="footer-l__link">
                        {{ 'Safety' | translate }}
                    </a>
                </li>
                <li class="footer-l__list-item">
                    <a href="/guia/sobre-a-abakate/" class="footer-l__link">
                        {{ 'AboutAbakate' | translate }}
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-6 col-md-2"></div>
    </div>
</footer>
