// add font properties here
@font-face {
    src: url('/assets/libs/fonts/DroidSansMono.ttf');
    font-family: 'Droid Sans Mono Regular';
}

$font-default: 'Montserrat',
sans-serif,
Arial;
$font-logo: Anton,
sans-serif;
$font-secondary: 'Droid Sans Mono Regular';
$font-landing-1: 'Roboto',
sans-serif;
$font-landing-2: 'Barlow Condensed',
sans-serif;

// HEADING
.heading-primary {
    margin: 0;
    font-family: $font-landing-2 !important;
    font-size: 4.4rem;
    font-weight: 500;
    color: $color-positive;
    line-height: 0.9;
}

.heading-secondary {
    margin: 0;
    margin-bottom: 1rem;
    font-family: $font-landing-2 !important;
    font-size: 3.75rem;
    color: $color-positive;
    text-transform: unset;
    line-height: 1;
}

.heading-tertiary {
    margin: 0;
    font-family: $font-landing-2 !important;
    font-size: 3rem;
    color: $color-positive;
}

.heading-quarternary {
    margin: 0;
    font-family: $font-landing-2 !important;
    font-size: 2.5rem;
    color: $color-positive;
    font-weight: 100;
}

.heading-fifth {
    margin: 0;
    font-family: $font-landing-2 !important;
    font-size: 1.75rem;
    color: $color-positive;
}
