<div class="operations-side">
    <div class="row">
        <div class="col-12 trade-history-title">
            {{ 'historyOfTrades' | translate | uppercase }}
        </div>
        <div class="col-12 trade-history-main">
            <table id="tradebook" class="trade-history-table">
                <tr>
                    <td>{{ 'Quantity' | translate | uppercase }}</td>
                    <td>{{ 'Price' | translate | uppercase }}</td>
                    <td></td>
                    <td>{{ 'Time' | translate | uppercase }}</td>
                </tr> 
                <tr *ngFor="let op of operations;trackBy: trackByFn">
                    <td>{{ op.size | number:'1.8-8' }}</td>
                    <td *ngIf="op.arrow == 'up'" class="trade-history-table-price-up">{{ op.price | number:'1.2-2' }}</td>
                    <td *ngIf="op.arrow == 'down'" class="trade-history-table-price-down">{{ op.price | number:'1.2-2' }}</td>
                    <td *ngIf="op.arrow == 'up'"><img class="trade-history-arrow" src="assets/img/icon_ArrowUp.svg" alt="" /></td>
                    <td *ngIf="op.arrow == 'down'"><img class="trade-history-arrow" src="assets/img/icon_ArrowDown.svg" alt="" /></td>
                    <td class="column-time">{{op.time | date:'HH:mm:ss'}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

