<!-- https://www.amcharts.com/demos/live-order-book-depth-chart/ -->
<div class="depth-chart">
    <div id="depthchartdiv"></div>
    <div class="chart-title">
        {{ 'depthChart' | translate | uppercase }}
    </div>
</div>
