// INSIDE APP
.footer {
    z-index: -1;
    position: absolute;
    bottom: 3%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    a {
        text-align: center;
        color: $color-font-8;
        margin-top: 0.5rem;
        text-decoration: unset;

        &:hover {
            text-decoration: unset;
            color: $color-links;
        }
    }

    #powered {
        font-size: 0.8rem;
    }

    @include respond(phone) {
        position: unset;
        bottom: unset;
        left: unset;
        -webkit-transform: unset;
        transform: unset;
        text-align: center;
        background-color: transparent;
        padding: 1rem 0;
    }
}

// LANDING AND SIGN UP
.footer-l {
    background-color: $color-background-3;
    overflow: hidden;

    &__logo {
        display: block;
        width: 8.5rem;
        height: auto;
        margin: 1.875rem 0 1.625rem 0;

        @include respond(phone) {
            margin: 1.5rem auto;
            width: 14rem;
        }

        &:hover {
            cursor: pointer;
        }

        &:focus {
            outline: unset;
        }
    }

    &__social {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__social-icon {
        width: 1.875rem;
        height: auto;

        &:not(:last-of-type) {
            margin-right: 0.5625rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__list {
        margin-top: 1.875rem;
        margin-bottom: 1rem;
        font-family: $font-landing-2 !important;
        font-size: 1.375rem;
        color: $color-positive;
        list-style: none;

        &-item {
            line-height: 1;
            font-family: $font-landing-1;
            margin: 0;
        }
    }

    &__link {
        font-size: 0.8rem;
        color: $color-white;
        text-decoration: unset;

        &:hover {
            cursor: pointer;
            text-decoration: unset;
            color: $color-positive;
        }
    }

    @include respond(phone) {
        .row {
            div {
                text-align: center;
            }

            div:nth-child(1) {
                display: none;
            }

            div:nth-child(2) {
                align-items: center;
                justify-content: center;
            }
        }
    }
}
