<nav class="navbar navbar-expand-md ">
    <div class="container-fluid landing__navbar">
        <img src="./../../assets/img/abakate-logo.svg" alt="Menu" class="navbar-brand landing__logo" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#abakate-nav" aria-controls="abakate-nav"
            aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbarMobile()">
            <img src="./../../assets/img/iconList.svg" alt="Menu">
        </button>
        <div id="abakate-nav" class="collapse navbar-collapse hide-mobile">
            <ul class="navbar-nav ml-auto landing__navbar-list">
                <li class="nav-item">
                    <a class="landing__navbar-link" routerLink="/como-funciona">
                        {{ 'HowItWorks' | translate }}?
                    </a>
                </li>
                <li class="nav-item navbar">
                    <div class="dropdown">
                        <ng-template #popTemplate>
                            <div class="">
                                <a id="guia_geral" class="dropdown-item landing__navbar-dropdown--item" href="https://www.abakate.com.br/guia/">{{
                                    'AbakateGuide' | translate }}</a>
                                <a id="guia_seguranca" class="dropdown-item landing__navbar-dropdown--item" href="https://www.abakate.com.br/guia/seguranca/">{{
                                    'Safety' | translate }}</a>
                                <a id="nav_suporte" class="dropdown-item landing__navbar-dropdown--item" a
                                    (click)="openSupport(pop)" onclick="zE.activate({hideOnClose: true})">{{
                                    'Support' | translate }}</a>
                            </div>
                        </ng-template>
                        <button class="dropdown-toggle btn__btn landing__navbar-dropdown" type="button" [popover]="popTemplate"
                            #pop="bs-popover" placement="bottom" [outsideClick]="true" triggers="mouseenter">
                            {{ 'Help' | translate }}
                        </button>
                    </div>
                </li>
                <li class="nav-item">
                    <a id="btn_registro" class="btn__btn btn__btn--outline landing__navbar-btn--outline" [href]="signUpUrl">
                        {{ 'SignUp' | translate }}
                    </a>
                    <a id="btn_login" class="btn__btn btn__btn--fill landing__navbar-btn--fill" [href]="signInUrl">
                        {{ 'Login' | translate | uppercase }}
                    </a>
                </li>
            </ul>
        </div>

        <div class="landing__navbar-mobile" [ngClass]="navbarMobile == true ? 'landing__navbar-mobile-visible' : 'landing__navbar-mobile-hiddem'">

            <button class="landing__navbar-mobile-close" (click)="toggleNavbarMobile()">
                <img src="./assets/img/icon_close.svg" />
            </button>
            <div class="landing__navbar-mobile-container">
                <ul class="landing__navbar-mobile__list">
                    {{ 'OperateAba' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" id="footer_login" href="{{appURL}}" class="landing__navbar-mobile__link">
                            {{ 'Login' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" id="registro_footer" href="https://app.beta.abakate.com.br/pre-cadastro/cupom" 
                            class="landing__navbar-mobile__link">
                            {{ 'CreateAcc' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/como-funciona/#assinatura" class="landing__navbar-mobile__link">
                            {{ 'Signature' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/termos-de-uso" class="landing__navbar-mobile__link">
                            {{ 'Terms' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/politicas-de-privacidade" class="landing__navbar-mobile__link">
                            {{ 'Privacy' | translate }}
                        </a>
                    </li>
                </ul>

                <ul class="landing__navbar-mobile__list">
                    {{ 'AboutAba' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/sobre" class="landing__navbar-mobile__link">
                            {{ 'WhoWe' | translate }}
                        </a>
                    </li>
                    <!-- AMANDA 31/08
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/vagas" class="landing__navbar-mobile__link">
                            {{ 'Careers' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="#" class="landing__navbar-mobile__link">
                            {{ 'Press' | translate }}
                        </a>
                    </li>-->
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" routerLink="/como-funciona" class="landing__navbar-mobile__link">
                            {{ 'HowItWorks' | translate }}?
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia" class="landing__navbar-mobile__link">
                            {{'AbakateGuide' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/seguranca/" class="landing__navbar-mobile__link">
                            {{ 'Safety' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a onclick="zE.activate({hideOnClose: true})" (click)="toggleNavbarMobile()" class="landing__navbar-mobile__link">
                            {{ 'Contact' | translate }} </a>
                    </li>
                </ul>

                <ul class="landing__navbar-mobile__list">
                    {{ 'AbaGuide' | translate }}
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/conta-e-assinatura/" class="landing__navbar-mobile__link">
                            {{ 'AccountAndSign' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/depositos-e-saques/" class="landing__navbar-mobile__link">
                            {{ 'DepositsAndWithdraw' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/compra-e-venda-de-criptomoedas/" class="landing__navbar-mobile__link">
                            {{ 'BuySellCrypto' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/ferramentas-da-abakate/" class="landing__navbar-mobile__link">
                            {{ 'ToolsAba' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/seguranca/" class="landing__navbar-mobile__link">
                            {{ 'Safety' | translate }}
                        </a>
                    </li>
                    <li class="landing__navbar-mobile__list-item">
                        <a (click)="toggleNavbarMobile()" href="/guia/sobre-a-abakate/" class="landing__navbar-mobile__link">
                            {{ 'AboutAbakate' | translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
