<div class="terms__scroll">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms">
                    <h3 class="terms__title">{{ 'Privacy' | translate }}</h3>
                    <div class="terms__text">
                        <p>
                            Esta Política de Privacidade abrange a plataforma Abakate (doravante "Plataforma"),
                            disponibilizada e mantida por <strong>RW INTERMEDIAÇÃO, SERVIÇOS DIGITAIS, DESENVOLVIMENTO
                                DE
                                TECNOLOGIAS E PARTICIPAÇÕES LTDA.,</strong> sociedade limitada inscrita no CNPJ/MF sob
                            o nº
                            11.333.188/0001-06, com sede na Cidade e Estado de São Paulo, na Av. Horácio Lafer, 160,
                            conjunto 52, Itaim Bibi (doravante "Abakate"), tendo como objetivo fornecer aos Usuários
                            uma
                            visão transparente das práticas relacionadas à coleta, processamento, armazenamento e
                            compartilhamento de dados pela Abakate.
                        </p>
                        <p>
                            O Usuário poderá verificar as disposições desta Política de Privacidade, a qualquer
                            momento,
                            por meio do site da Abakate na página <a routerLink="/politicas-de-privacidade">Política de
                                Privacidade</a>. Ainda, aplicam-se a esta Política todas as previsões constantes nos
                            Termos
                            e Condições de Uso da Plataforma, disponíveis na página de <a routerLink="/termos-e-condicoes-de-uso">Termos
                                e Condições</a>.
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Antes de utilizar a Plataforma, o Usuário deverá ler atentamente todo o conteúdo
                                    deste
                                    documento, e, caso esteja de acordo, deverá manifestar seu consentimento livre,
                                    expresso e informado, desprovido de quaisquer reservas, acerca de todas as
                                    disposições
                                    aqui apresentadas, por meio do seu clique no botão "Aceito os Termos de Uso e a
                                    Política de Privacidade". Contudo, destacamos que, caso o Usuário discorde do
                                    disposto
                                    nesta Política, deverá se abster de utilizar a Plataforma.
                                </u>
                            </strong>
                        </p>
                        <ol type="1">
                            <li>
                                <p> <strong> DAS DEFINIÇÕES </strong> </p>
                                <p>
                                    As disposições constantes nesta Política de Privacidade, sempre que usadas com a
                                    primeira
                                    letra em maiúscula, no plural ou no singular, terão o significado abaixo
                                    apresentado:
                                </p>
                                <ol type="a">
                                    <li>
                                        <strong>Anunciantes:</strong> Bancos, seguradoras, corretoras de seguros entre
                                        outros.
                                    </li>
                                    <li>
                                        <strong>Aceitar ou Aceite:</strong> é o ato pelo qual o Usuário declara, ao
                                        clicar
                                        na caixa de diálogo dos Termos de Uso e Política de Privacidade,
                                        disponibilizados
                                        na Plataforma, que leu e aceitou todos as disposições neles previstas,
                                        fornecendo o
                                        seu <strong>consentimento livre, expresso e informado</strong> relação a todo o
                                        disposto em tais
                                        documentos.
                                    </li>
                                    <li>
                                        <strong>Conteúdo:</strong> significa toda e qualquer informação disponibilizada
                                        na
                                        ou por meio da Plataforma, tais como textos, dados, software, imagens, vídeos,
                                        áudios, recursos interativos, etc., incluindo-se os códigos fontes empregados
                                        para
                                        exibição desses conteúdos, como aqueles em linguagem HTML, CSS, PHP, entre
                                        outros.
                                    </li>
                                    <li>
                                        <strong>Conta Abakate:</strong> significa a conta de acesso do Usuário à
                                        Abakate.
                                    </li>
                                    <li>
                                        <strong>Dados de Conta:</strong> significam qualquer informação que o Usuário
                                        forneça à Abakate, tais como, mas não limitado a, dados da instituição
                                        financeira,
                                        número de agência bancária e número de conta.
                                    </li>
                                    <li>
                                        <strong>Dados Pessoais:</strong> significa qualquer dado relacionado à pessoa
                                        natural identificada ou identificável, inclusive números identificativos, dados
                                        locacionais ou identificadores eletrônicos, tais como, mas não limitado a,
                                        nome,
                                        endereço, número de telefone, número de fax ou endereço de e-mail.
                                    </li>
                                    <li>
                                        <strong>Plataforma ou Aplicativo:</strong> é a aplicação de internet hospedada
                                        no
                                        endereço eletrônico <a href="www.abakate.com.br">www.abakate.com.br</a> ou
                                        qualquer
                                        outro que vier a substituí-lo,
                                        por meio do qual serão obtidos, geridos e manejados todos os dados do Usuário,
                                        sempre de maneira automatizada e segura.
                                    </li>
                                    <li>
                                        <strong>Política de Privacidade:</strong> significa o documento no qual constam
                                        todas as disposições sobre a coleta, processamento, utilização, armazenamento e
                                        compartilhamento dos dados do Usuário, e que poderá ser encontrada no site da
                                        Abakate na página <a routerLink="/politicas-de-privacidade">Política de
                                            Privacidade</a>.
                                    </li>
                                    <li>
                                        <strong>Usuário:</strong> significa uma pessoa física, maior de idade, ou
                                        jurídica, com plena capacidade de contratar, que acessa a Plataforma, e realiza
                                        o
                                        seu cadastro pessoal de modo a usufruir das funcionalidades oferecidas pela
                                        Abakate, aderindo, desta forma, aos presentes Termos de Uso e à Política de
                                        Privacidade.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>QUAIS DADOS COLETAMOS?</strong> </p>
                                <p>
                                    Os dados disponibilizados pelo Usuário ao realizar o seu cadastro e também os dados
                                    coletados automaticamente pela Abakate, a partir da Plataforma, conforme indicado
                                    abaixo.
                                </p>
                                <ol type="a">
                                    <li>
                                        <p> <strong>Dados disponibilizados pelo Usuário:</strong>
                                            Esses dados incluem toda e qualquer informação inserida, de forma
                                            voluntária,
                                            na Plataforma, pelo Usuário, como por exemplo, mas não limitado a,
                                            informações
                                            cadastrais para criação de sua Conta Abakate, bem como demais dados
                                            inseridos
                                            durante a utilização da Plataforma.
                                        </p>
                                    </li>
                                    <li>
                                        <p> <strong>Dados coletados automaticamente pela Plataforma:</strong>
                                            São informações coletadas pela Plataforma, independentemente do
                                            fornecimento
                                            pelo Usuário, tais como, mas não se limitando a, características do
                                            dispositivo
                                            de acesso, número IP com informação de data e hora, origem do IP,
                                            funcionalidades acessadas, informações sobre cliques, entre outros. A
                                            Abakate
                                            também poderá utilizar tecnologia padrão para coletar informações dos
                                            Usuários,
                                            tais como cookies, de modo a melhorar sua experiência de navegação.
                                        </p>
                                        <p>
                                            O uso destas tecnologias pode ser desativado pelo Usuário, a qualquer
                                            tempo, de
                                            acordo com as configurações do dispositivo de acesso. Contudo, o Usuário
                                            declara-se ciente que a referida desativação poderá acarretar no não
                                            funcionamento da Plataforma.
                                        </p>
                                        <p>
                                            <strong>
                                                <u>
                                                    Assim, ao aceitar a presente Política, o Usuário declara-se ciente
                                                    das informações coletadas quando de sua utilização da Plataforma, e
                                                    manifesta seu consentimento livre, expresso e informado com relação
                                                    à
                                                    coleta de tais dados.
                                                </u>
                                            </strong>
                                        </p>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>COMO USAMOS OS DADOS COLETADOS?</strong> </p>
                                <p>
                                    As informações coletadas, a partir da utilização, pelo Usuário, da Plataforma, são
                                    consideradas confidenciais pela Abakate, a qual garante que estas serão tratadas e
                                    armazenadas conforme as determinações desta Política e com a devida adoção das
                                    adequadas medidas de segurança. Nesse sentido, as informações coletadas pela
                                    Plataforma
                                    serão utilizadas para o desenvolvimento das atividades comerciais da Abakate, bem
                                    como
                                    para o oferecimento da Plataforma e de suas funcionalidades, bem como para fins
                                    promocionais, publicitários e estatísticos.
                                </p>
                                <p>
                                    <strong>
                                        <u>
                                            Assim, ao aceitar a presente Política de Privacidade, o Usuário consente de
                                            forma livre, expressa e informada que a Abakate e seus parceiros, como
                                            descrito
                                            abaixo, poderão utilizar os dados coletados, por meio da Plataforma, para o
                                            desenvolvimento de campanhas promocionais, oferta de produtos e marketing
                                            direcionado, bem como para a execução das atividades empresariais da
                                            Abakate.
                                        </u>
                                    </strong>
                                </p>
                                <p>
                                    Ademais, o Usuário concorda, ao aceitar a presente Política, em receber e-mails
                                    promocionais da Abakate e de seus parceiros. Contudo, caso o Usuário opte por
                                    interromper o recebimento de tais e-mails, poderá comunicar sua decisão entrando em
                                    contato conosco a partir no nosso site.
                                </p>
                            </li>
                            <li>
                                <p> <strong>COMPARTILHAMENTO DE DADOS</strong> </p>
                                <p>
                                    A Abakate poderá compartilhar, com base nas condições indicadas na presente
                                    Política,
                                    os dados coletados por meio da Plataforma, nas seguintes situações:
                                </p>
                                <ol type="a">
                                    <li>
                                        Quando necessário às atividades comerciais da Abakate, como por exemplo, mas
                                        não
                                        limitado a, com instituições financeiras e outras empresas parceiras, e
                                        Anunciantes, que atuem em conjunto com a Abakate em suas atividades
                                        empresariais;
                                    </li>
                                    <li>
                                        Com empresas parceiras da Abakate, para fins promocionais, publicitários e
                                        estatísticos, conforme indicado nesta Política;
                                    </li>
                                    <li>
                                        Para proteção dos interesses da Abakate em qualquer tipo de conflito, inclusive
                                        demandas judiciais;
                                    </li>
                                    <li>
                                        No caso de transações e alterações societárias envolvendo a Abakate; ou
                                    </li>
                                    <li>
                                        Mediante ordem judicial ou pelo requerimento de autoridades administrativas que
                                        detenham competência legal para sua requisição.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>COMO ARMAZENAMOS AS INFORMAÇÕES COLETADAS</strong> </p>
                                <p>
                                    As informações do Usuário serão armazenadas, pela Abakate, em servidores próprios
                                    ou de
                                    terceiros, contratados por esta. O Usuário declara-se ciente que serão empregados
                                    todos
                                    os esforços razoáveis de mercado com o intuito de preservar a segurança de seus
                                    sistemas na guarda de referidos dados, entre eles a observância às diretrizes sobre
                                    padrões de segurança estabelecidas no Decreto nº 8.771/2016.
                                </p>
                                <p>
                                    <strong>
                                        <u>
                                            A Abakate emprega os melhores esforços a fim de resguardar as informações
                                            dos
                                            Usuários de sua Plataforma. Contudo, em razão da própria natureza da
                                            Internet,
                                            não há como assegurar que terceiros não autorizados não logrem sucesso em
                                            acessar indevidamente as informações armazenadas pela Abakate.
                                        </u>
                                    </strong>
                                </p>
                            </li>
                            <li>
                                <p> <strong>EXCLUSÃO DAS INFORMAÇÕES</strong> </p>
                                <p>
                                    A exclusão dos dados armazenados pela Abakate poderá ser requisitada, a qualquer
                                    tempo,
                                    pelo Usuário através da plataforma. A Abakate declara-se comprometida a empreender
                                    os
                                    melhores esforços para atender a todos os pedidos de exclusão o mais breve
                                    possível.
                                    <u>Tal exclusão, contudo, acarretará também o término e a exclusão do cadastro do
                                        Usuário da Plataforma, o qual não conseguirá mais utilizar suas
                                        funcionalidades.</u>
                                </p>
                                <p>
                                    Ao aceitar a presente Política, o Usuário reconhece estar ciente de que, mesmo em
                                    caso
                                    de requisição de exclusão, a Abakate observará o prazo de armazenamento mínimo de
                                    informações determinado pela legislação brasileira.
                                </p>
                            </li>
                            <li>
                                <p> <strong>ATUALIZAÇÃO DA POLÍTICA DE PRIVACIDADE</strong> </p>
                                <p>
                                    A Abakate se reserva o direito de modificar a presente Política, a seu exclusivo
                                    critério, de modo a fornecer a maior segurança possível ao Usuário, o que poderá se
                                    dar
                                    sem prévia notificação, salvo em caso de expressa vedação legal. Assim, o Usuário
                                    se
                                    declara ciente ser de sua única e exclusiva responsabilidade a verificação
                                    periódica da
                                    presente Política.
                                </p>
                            </li>
                            <li>
                                <p> <strong>LEGISLAÇÃO E FORO COMPETENTES</strong> </p>
                                <p>
                                    A presente relação jurídica é regida exclusivamente pelas leis brasileiras,
                                    inclusive
                                    eventuais ações decorrentes de violação dos seus termos e condições.
                                </p>
                                <p>
                                    Fica eleito o Foro do domicílio do Usuário para dirimir quaisquer dúvidas, questões
                                    ou
                                    litígios decorrentes dos presentes Termos, renunciando as partes a qualquer outro,
                                    por
                                    mais privilegiado que seja.
                                </p>
                            </li>
                        </ol>
                    </div>
                    <div class="terms__date">
                        Última atualização: 05.09.2018.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
