.fullbook {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    box-direction: normal;
    -webkit-box-direction: normal;
    -ms-flex-direction: unset;
    flex-direction: unset;
    overflow-x: hidden;
    font-family: $font-secondary;

    @include respond(phone) {
        margin: 0;
    }

    .halfbook {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        color: $color-white;
        font-size: .65rem;
        text-rendering: optimizeLegibility;

        @include respond(phone) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 50%;
            font-size: 1rem;
        }
    }

    .bookline {
        font-weight: 700;
    }

    .bookline>a,
    .bookline>a:hover {
        text-decoration: unset;
        color: inherit;
        display: block;
    }

    .hover-click:hover {
        background-color: $color-black;
    }

    .bidprice {
        color: $color-positive;
    }

    .askprice {
        color: $color-negative;
    }

    .tablebook {
        width: 100%;
        justify-content: space-between
    }

    .pricecell {

        // width: 4.43rem;
        @include respond(phone) {
            text-align: center;
            width: 8rem;
        }
    }

    .amountcell {
        text-align: center;

        @include respond(phone) {
            text-align: center;
            width: 8rem;
        }
    }

    .barcell {
        min-width: 2.8rem;
        max-width: 2.8rem;

        @include respond(phone) {
            display: none;
        }
    }

    .bar {
        z-index: -1;
        height: 1rem;
        float: right;
        background-color: $color-currency-reais;
    }

    .leftbar {
        z-index: -1;
        height: 100%;
        float: left; // @include background-positive;
        background-color: $color-positive;
    }

    .rightbar {
        z-index: -1;
        height: 100%; // @include background-negative;
        background-color: $color-negative;
        float: right;
    }

    .weak {
        opacity: .55;
    }

    .rightbook {
        float: right;
        text-align: left;
        padding-left: .5rem;

        @include respond(phone) {
            padding: 0;
        }
    }

    .tablerightbook {
        text-align: left;
        float: right;
        width: 100%;
    }

    .rightbook>tbody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        box-direction: reverse;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;

        @include respond(phone) {
            -ms-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            flex-direction: column;
        }
    }

    .leftbook {
        float: left !important;
        padding-left: 0rem;
        padding-right: .5rem;

        @include respond(phone) {
            padding: 0;
        }
    }

    .leftbook>tbody>tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        box-orient: horizontal;
        -webkit-box-orient: horizontal;
        box-direction: reverse;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .tableleftbook {
        float: left !important;
        text-align: right;
        padding-left: 0rem;
        width: 100%;
    }

    .bookhead {
        font-family: $font-default;
        color: $color-grey-light;
        font-weight: 500;
    }

    .my-order {
        background-color: $color-grey-dark;
    }

    @-webkit-keyframes splash {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes splash {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .link-history {
        cursor: pointer;
    }
}
