.home-compenent {
    .home-compenent-fluid {
        background-color: $color-background;
    }

    div.row.orderentry-row .col-12 {
        padding: 0;
    }

    .nopadding {
        padding: 0;
    }

    .side-menu {
        position: relative;
        background-color: $color-background-3;
        z-index: 3;
        overflow: auto;
        -webkit-box-shadow: .12rem 0 .25rem 0 $color-border-2;
        box-shadow: .12rem 0 .25rem 0 $color-border-2;
        height: calc(100vh - 4rem);

        @include respond(phone) {
            display: none !important;
        }
    }

    .side-menu-mobile {
        display: none;

        @include respond(phone) {
            display: inline;
            position: absolute;
            background-color: $color-background-3;
            z-index: 1000;
            overflow: hidden;
            -webkit-box-shadow: .12rem 0 .25rem 0 $color-border-2;
            box-shadow: .12rem 0 .25rem 0 $color-border-2;
            top: 0;
            width: 80vw;
            height: 100vh;
        }
    }

    .wallet-sidemenu {
        margin-bottom: 1rem;
    }

    .sidebar-mode-outlet {
        background-color: $color-background;

        @include respond(phone) {
            height: 100vh;
        }
    }

    .popProfile,
    .popOrder,
    .popWithDep {
        visibility: hidden;
        position: absolute;
        background-color: $color-background-10;
        padding: 1.25rem;
        left: 5.5%;
        width: 14.4rem;
        z-index: 100;
    }

    .popProfile {
        top: 6.25rem;
    }

    .popOrder {
        top: 15.3rem;
        text-align: center;
    }

    .popWithDep {
        top: 17.6rem;
        text-align: center;
    }

    .dialog-title {
        font-size: 0.75rem;
        color: $color-font;
        text-align: center;
        padding-bottom: .37rem;
    }

    .image-title {
        margin-right: .4rem;
    }

    .radio-button {
        margin: .3rem;
    }

    #radio-sell>label>div.mat-radio-container>div.mat-radio-outer-circle {
        border-color: $color-negative;
    }

    #radio-sell>label>div.mat-radio-container>div.mat-radio-inner-circle {
        background-color: $color-negative;
    }

    #radio-buy>label>div.mat-radio-container>div.mat-radio-outer-circle {
        border-color: $color-positive;
    }

    #radio-buy>label>div.mat-radio-container>div.mat-radio-inner-circle {
        background-color: $color-positive;
    }

    .mat-button-toggle-label {
        margin-bottom: unset;
    }

    .btn-success {
        font-size: .8rem;
        border-radius: 1.6rem;
        cursor: pointer;
        font-weight: 600;
        height: 1.6rem;
        padding: 0;
        width: 11.93rem;
    }

    .mat-content {
        text-transform: uppercase;
        color: $color-cool-grey;
        font-size: .75rem;
        padding: 0;
    }

    .mat-expansion-panel {
        text-align: center !important;
        background-color: $color-background-2;
    }

    .mat-expansion-panel:first-of-type {
        background-color: $color-background-6;
    }

    .mat-expansion-panel-body {
        padding: 0 .5rem 1.6rem !important;
    }

    .mat-radio-label {
        margin-top: .6rem;
    }

    @include respond(phone) {
        .container-fluid {
            overflow: unset;
        }

        .menu-footer {
            position: fixed;
            bottom: 0;
            height: 8.6rem;
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            z-index: 1;

            .button-footer {
                width: 20%;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: $color-background-3;
                color: $color-cool-grey;
                font-size: .85rem;
                text-transform: uppercase;
                font-weight: 500;
                -webkit-box-shadow: 0 0 10px 0 $color-border-2;
                box-shadow: 0 0 10px 0 $color-border-2;
                border: none;

                img {
                    width: 2.4rem;
                    height: 2.4rem;
                    margin-bottom: .7rem;
                }
            }
        }
    }
}
