.home-compenent {
    .home {
        &__not-logged {
            &-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: calc(100vh - 6rem);
            }

            &-title {
                margin-bottom: 1rem;
                color: $color-white;
                font-size: 1rem;
                font-family: $font-default;
            }
        }
    }
}
