.landing {
    overflow-x: hidden;
    height: 100%;

    /* BOOK */
    .live-book {
        position: relative;

        @include respond(phone) {
            .btn__btn--large {
                margin: 7rem 0;
            }
        }

        &__wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 102vw;
            margin-top: -11rem;
        }

        &__left {
            padding: 5.3rem 0 0 9.8rem;

            @include respond(phone) {
                padding: 1.5rem 4rem;
                text-align: center;

                button {
                    display: none;
                }
            }
        }

        &__heading {
            padding-right: 3rem;
            margin-bottom: 0.5rem;

            @include respond(phone) {
                padding: 0 0 0 0;
                text-align: center;
            }
        }

        &__text {
            font-family: $font-landing-1;
            font-size: 1.125rem;
            color: $color-background-3;
            margin: 1rem 0;

            @include respond(phone) {
                font-size: 1.6rem;
            }
        }

        &__right {
            margin: 0 auto;
            height: 44.5rem;
            width: 32.5rem;

            @include respond(phone) {
                height: 100%;
                width: 95vw
            }

            &__button {
                display: none;

                @include respond(phone) {
                    display: flex;
                    justify-content: center;

                    .btn__btn--large {
                        margin: 3rem 0 5rem 0;
                    }
                }
            }

            &-crypto {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                font-size: 0.9rem;
                color: $color-background-3;

                &--left,
                &--toggler {
                    margin-right: 1rem;
                }

                span {
                    font-family: $font-landing-2;
                    font-size: 1.75rem;
                    font-style: italic;
                    color: $color-font;
                }
            }
        }

        &__box {
            position: relative;
            margin: 1.2rem auto 0 auto;
            width: 100%;
            height: 37.5rem;
        }

        &__eth,
        &__btc {
            width: 32.5rem;
            height: 100%;

            @include respond(phone) {
                width: 95vw;
            }
        }

        &__eth {
            -webkit-box-shadow: -0.25rem -0.25rem 1rem 0rem $color-border-2;
            box-shadow: -0.25rem -0.25rem 1rem 0rem $color-border-2;

            &--back {
                position: absolute;
                top: 10%;
                left: 5%;
                opacity: 0.5;
                z-index: -1;
                -webkit-transition: all 1s;
                transition: all 1s;
            }

            &--front {
                position: absolute;
                top: 0;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-transition: all 1s;
                transition: all 1s;
            }
        }

        &__btc {
            -webkit-box-shadow: 0.25rem -0.25rem 1rem 0rem $color-border-2;
            box-shadow: 0.25rem -0.25rem 1rem 0rem $color-border-2;

            &--back {
                position: absolute;
                top: 10%;
                right: 5%;
                opacity: 0.5;
                z-index: -1;
                -webkit-transition: all 1s;
                transition: all 1s;
            }

            &--front {
                position: absolute;
                top: 0;
                right: 50%;
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
                -webkit-transition: all 1s;
                transition: all 1s;
            }
        }
    }

    /* INFO */
    .info {
        background-color: $color-white;
        margin-top: 0;

        @include respond(phone) {
            padding-top: 2.5rem;
        }

        &__text {
            margin: 0;
            color: $color-background-3;
            font-family: $font-landing-1;

            &--big {
                font-size: 1.375rem;

                @include respond(phone) {
                    font-size: 1.6rem;
                }
            }

            &--medium {
                font-size: 1.125rem;

                @include respond(phone) {
                    font-size: 1.3rem;
                }
            }

            &--small {
                font-size: 1rem;

                @include respond(phone) {
                    font-size: 1.3rem;
                }
            }

            &--color {
                color: $color-positive;
            }

            &--1 {
                padding: 0 6rem;
            }

            &--2 {
                padding: 0 4rem;
            }

            &--3 {
                padding: 0 4rem;
            }
        }

        &__infos {
            margin-top: 3.125rem;
            margin-bottom: 2.7rem;

            @include respond(phone) {
                div {
                    margin: .5rem 0 2rem 0;
                }
            }
        }

        &__heading {
            &--1 {
                padding: 0 6rem;
            }

            &--2 {
                padding: 0 6rem;
            }

            &--3 {
                padding: 0 4rem;
            }
        }

        &__img {
            width: 7.5rem;
            height: 7.5rem;
        }
    }

    /* SAFETY */
    .safety {
        position: relative;
        background-color: $color-background-3;
        padding: 20rem 0;
        margin-top: 1rem;

        @include respond(phone) {
            padding: 10rem 0;
        }

        &__img {
            width: 6.25rem;
            height: 6.25rem;
            margin-bottom: 1rem;
        }

        &__text {
            margin: 1.5rem 0 2.1rem 0;
            padding: 0 4rem;
            font-family: $font-landing-1;
            font-size: 1rem;
            color: $color-white;

            @include respond(phone) {
                font-size: 1.3rem;
            }
        }

        &__curve {
            position: absolute;
            top: -1rem;
            left: 0;
            width: 101vw;

            @include respond(phone) {
                width: 110vw;
                left: -0.5rem;
            }
        }

        &__wave {
            position: absolute;
            bottom: -0.1rem;
            left: -0.5rem;
            width: 101vw;

            @include respond(phone) {
                width: 105vw;
            }
        }
    }

    /* DOUBTS */
    .doubts {
        margin-top: -2.9rem;

        @include respond(phone) {
            margin-top: 0;
            text-align: center;
        }

        &__list {
            list-style: none;

            &-item {
                font-family: $font-landing-1;
                font-size: 0.875rem;
                margin-bottom: 1rem;

                @include respond(phone) {
                    font-size: 1.2rem;
                }

                &:first-of-type {
                    margin-top: 2rem;
                }
            }

            &-link {
                color: $color-background-3;
                text-decoration: none;
                transition: all .2s;

                &:hover {
                    color: $color-positive;
                }
            }
        }

        &__box {
            max-width: 26rem;
            background-color: $color-positive;
            padding: 2rem 2.5rem 3.375rem 2.5rem;
            margin: -2rem auto 0 auto;
            z-index: 2;

            @include respond(phone) {
                max-width: 100%;
                margin: 2rem 0 0 0;
            }
        }

        &__heading {
            color: $color-white !important;
            padding: 0 1rem;
        }

        &__text {
            font-size: 1.375rem;
            font-family: $font-landing-1;
            color: $color-white;
            margin: 2rem 0 2.8rem 0;
            padding: 0 1rem;
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
