.pnf {
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    background-color: $color-avocado;

    h1 {
        margin-bottom: 3rem;
        font-family: $font-landing-2;
        color: #0F6C40;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}
