.price-chart {
    height: calc(50vh - 5.8rem);
    margin-top: 1rem;
    max-width: 100%;
    position: relative;
    @include respond(phone) {
        height: 54vh;
    }
    .pricechartdiv {
        max-height: calc(100% - 1.5rem);
        min-height: calc(100% - 1.5rem);
        padding-top: 1.5rem;
        overflow: unset !important;
        @include respond(phone) {
            box-shadow: 0 0 4px 0 $color-border-2;
            padding-top: 4.5rem;
            max-height: 56vh;
        }
    }
    .pricechart-title {
        position: absolute;
        top: 0.3rem;
        left: 5%;
        font-size: .85rem !important;
        font-weight: 600;
        @include respond(phone) {
            display: none;
        }
    }
    .pricechart-filter-box::ng-deep.mat-input-underline.mat-form-field-underline,
    .pricechart-filter-box::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }
    .pricechart-filter-box {
        position: absolute;
        top: -0.6rem;
        right: 6%;
        @include respond(phone) {
            height: 10vh;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            top: unset;
            right: 0;
            position: absolute;
            z-index: 1;
            background: $color-background-14;
            margin-top: .2rem;
        }
    }
    .pricechart-filter {
        display: inline-block;
        @include respond(phone) {
            display: none !important;
        }
    }
    .pricechart-filter-select {
        width: 5.5rem;
        @include respond(phone) {
            display: none !important;
        }
    }
    .pricechart-filter-select-time {
        width: 7rem;
    }
    .mat-form-field {
        @include respond(phone) {
            display: none !important;
        }
    }
}
