.quotepanel {
    .quote-box {
        width: 13.75rem;
        margin: 2rem;
        background-color: $color-background-12;
        -webkit-box-shadow: 0rem 0rem 1.3rem .15rem $color-black;
        box-shadow: 0 0 1.3rem .15rem $color-black;
    }

    .quote-box-header {
        padding: .5rem;
        position: relative;
    }

    .quote-box-header img {
        width: 1.55rem;
        height: auto;
        opacity: .6;
    }

    .quote-box-header span {
        vertical-align: middle;
        font-weight: 500;
    }

    .clearfix::after {
        zoom: 1;
        content: '.';
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }

    .clearfix {
        zoom: 1;
    }

    .quote-box-bitcoin {
        color: $color-currency-bitcoin;
        font-size: 1rem;
    }

    .quote-box-ethereum {
        color: $color-currency-ethereum;
        font-size: 1rem;
    }

    .quote-box-favorite-icon {
        position: absolute;
        top: .2rem;
        right: .3rem;
        width: auto;
        height: auto;
    }

    .quote-box-favorite-icon img {
        width: 1.1rem;
    }

    .quote-box-favorite-icon img:hover {
        cursor: pointer;
    }

    .quote-box-content-top,
    .quote-box-content-bottom {
        font-size: 1.1rem;
        font-weight: 500;
        padding: .6rem 0;
    }

    .quote-box-content-top {
        background-color: $color-positive;
        color: $color-black;
    }

    .quote-box-content-bottom {
        background-color: $color-negative;
        color: $color-white;
    }

    .quote-box-content-top span,
    .quote-box-content-bottom span {
        font-size: .7rem;
        font-weight: 300;
        margin-bottom: -.2rem;
    }

    .quote-box-content-top:hover,
    .quote-box-content-bottom:hover {
        cursor: pointer;
    }

    .quote-box-buy-btn,
    .quote-box-sell-btn {
        display: block;
        font-size: 1rem;
    }

    .quote-box-buy-btn {
        color: $color-black;
    }

    .quote-box-sell-btn {
        color: $color-white;
    }

    .quote-box-open-orders {
        margin: .8rem 0 0 .8rem;
        font-size: .6rem;
        color: $color-cool-grey;
    }

    .quote-box-open-orders span,
    .quote-box-available-balance span,
    .quote-box-available-balance div {
        color: $color-white;
        font-size: .7rem;
    }

    .quote-box-available-balance {
        position: relative;
        margin: 0 0 .5rem .8rem;
        font-size: .6rem;
        color: $color-cool-grey;
    }

    .quote-box-available-balance div {
        padding-right: 1rem;
    }

    .quote-box-icon-right {
        margin: 0.5rem 0.5rem 0 0;
        padding-bottom: .5rem;
        color: $color-cool-grey;
    }

    .quote-box-icon-right img {
        width: 1.16rem;
    }

    .quote-box-buy,
    .quote-box-sell {
        width: 13.75rem;
        margin: 2rem;
        -webkit-box-shadow: 0 0 1.37rem .18rem $color-black;
        box-shadow: 0 0 1.37rem .18rem $color-black;
    }

    .quote-box-buy {
        background-color: $color-positive;
    }

    .quote-box-sell {
        background-color: $color-negative;
    }

    .quote-box-2-header {
        padding: .5rem;
    }

    .quote-box-2-header img {
        width: 1.56rem;
        height: auto;
    }

    .quote-box-2-header span {
        vertical-align: middle;
        color: $color-white;
        font-size: 1rem;
        font-weight: 600;
    }

    .quote-box-close {
        position: absolute;
        top: 2.1rem;
        right: 3.3rem;
        width: auto;
        height: auto;
    }

    .quote-box-close img {
        width: .94rem;
    }

    .quote-box-close img:hover {
        cursor: pointer;
    }

    .quote-box-toggle {
        margin: .5rem 1.5rem;
    }

    .mat-button-toggle-group,
    .mat-button-toggle {
        font-size: 0.9rem;
        border-radius: 2rem;
        text-transform: capitalize;
        color: $color-cool-grey;
        font-weight: bold;
        background-color: $color-background-3;
        width: 100%;
        height: 2.25rem;
        text-align: center;
    }

    .mat-button-toggle-checked {
        background-color: $color-white;
        color: $color-links;
    }

    .quote-box-text {
        margin: 1.5rem auto .7rem auto;
        width: 80%;
        border-bottom: .06rem solid $color-cool-grey;
        color: $color-black;
        font-weight: 600;
    }

    .quote-box-text p {
        font-size: .7rem;
        color: $color-black;
        margin-bottom: .5rem;
        font-weight: 300;
    }

    .quote-box-text span {
        font-weight: 300;
    }

    .quote-box-value {
        width: 80%;
        margin: 0 auto;
        font-size: .7rem;
        color: $color-black;
    }

    .quote-box-value span {
        font-size: .6rem;
    }

    .quote-box-btn {
        color: $color-black;
        font-size: .8rem;
        font-weight: 500;
        padding: 1rem 0 1.9rem 0;
    }

    .quote-box-btn:hover {
        cursor: pointer;
    }

    .quote-box-btn span {
        display: inline-block;
        padding: .2rem 1rem;
        background-color: $color-white;
        border-radius: 1rem;
        font-weight: 600;
    }
}
