.terms {
    color: $color-background-3;
    margin-bottom: 10rem;

    &__title {
        font-size: 2rem;
        font-family: $font-landing-1;
        text-align: center;
        margin-bottom: 3rem;
    }

    &__text {
        p {
            font-family: $font-landing-1;
            font-size: 1.2rem;
            text-align: justify;
            text-indent: 2rem;
            margin-bottom: 0;

            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }

            a {
                cursor: pointer;
                color: $color-positive;
            }
        }

        ol[type="1"] {
            font-family: $font-landing-1;
            font-size: 1.2rem;

            &>li {
                margin-top: 4rem;

                &:last-of-type {
                    margin-bottom: 4rem;
                }


            }

            a {
                cursor: pointer;
                color: $color-positive;
            }
        }

        ol[type="a"] {
            margin-top: 2rem;

            a {
                cursor: pointer;
                color: $color-positive;
            }
        }
    }

    &__nested {
        padding-left: 6rem;
        margin-top: 1rem;

        li {
            text-align: justify;

            &:not(:last-of-type) {
                margin-bottom: 1rem;
            }
        }
    }

    &__date {
        text-align: right;
        font-size: 1rem;
        font-family: $font-landing-1;
    }

    &__scroll {
        height: 100%;
        overflow-y: scroll;

        &::-webkit-scrollbar-thumb {
            background: $color-positive;
        }
    }

}
