.ticker-component {
    .ticker {
        padding: 1rem .5rem 0 1rem;
        background-color: $color-background-2;

        @include respond(phone) {
            background-color: $color-background;
            padding: .5rem .5rem 0 .2rem;
        }
    }

    .ticker-logout-btn {
        background-color: $color-transparent;
        height: 72%;
        margin: 0;
        border: unset;
        opacity: 0.4;
        cursor: pointer;

        img {
            width: 1.87rem;
            height: 1.87rem;
        }
    }

    .ticker-logout-btn:focus {
        opacity: 1;
        outline: none;
        box-shadow: unset;
        -webkit-box-shadow: unset;
    }

    .grad {
        position: absolute;
        bottom: 0rem;
        left: 0;
        width: 100%;
        height: .18rem;
        background-image: -webkit-gradient(linear, left top, right top, from($color-links), color-stop($color-font-12), to($color-currency-reais));
        background-image: linear-gradient(to right, $color-links, $color-font-12, $color-currency-reais);
    }
}
