.vacancy {
    overflow-x: hidden;
    height: 100%;

    &__back {
        margin: 4rem 0 0.5rem 0;
        font-family: $font-landing-1;
        font-size: 1rem;
        color: $color-background-3;

        &:hover {
            cursor: pointer;
            color: $color-positive;
            transition: color .2s;
        }
    }

    &__block {
        background-color: $color-positive;
        padding: 1rem 0 6.6rem 2.125rem;
        color: $color-white;

        &-city {
            margin: 0;
            font-family: $font-landing-1;
            font-size: 0.875rem;
            font-weight: normal;
        }

        &-title {
            margin: 0;
            font-family: $font-landing-2;
            font-size: 3.75rem;
            font-weight: 500;
            text-transform: unset;
        }
    }

    &__box {
        background-color: $color-white;
        box-shadow: 0 0 10px 0 $color-background-8;

        &--big {
            margin-top: -6rem;
            margin-bottom: 1.25rem;
        }

        &--small {
            padding: 2.5rem 4.5rem 2.5rem 2.5rem;
            margin-bottom: 5.2rem;
            font-family: $font-landing-1;
            font-size: 1rem;
            color: $color-background-3;

            &:last-of-type {
                max-width: 54%;

                @include respond(phone) {
                    max-width: 100%;
                    margin: 0 0 2rem 0;
                }
            }

            &:not(:last-of-type) {
                margin-right: 1.25rem;

                @include respond(phone) {
                    margin: 0 0 2rem 0;
                    width: 100%;
                }
            }
        }

        &-description {
            padding: 2.5rem 4.5rem 2.5rem 2.5rem;
            font-family: $font-landing-1;
            font-size: 1rem;
            color: $color-background-3;
        }

        &-title {
            margin-top: 3.5rem;
            font-size: 1.375rem;
        }

        &-list {
            &-item {
                margin-left: 1.25rem;
                font-family: $font-landing-1;
            }
        }

        &-contact {
            padding: 1.3rem;
            margin-top: 2.75rem;
            background-color: $color-background-3;

            h6 {
                font-family: $font-landing-1;
                font-size: 1rem;
                font-weight: normal;
                color: $color-white;
            }
        }
    }

    /* width */
    &::-webkit-scrollbar {
        width: .3rem;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: $color-background-4;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $color-positive;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: darken($color-positive, 20%);
    }
}
