<div class="terms__scroll">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="terms">
                    <h3 class="terms__title">{{ 'Terms' | translate }}</h3>
                    <div class="terms__text">
                        <p>
                            Os presentes Termos de Uso (doravante “Termos”) têm como escopo regular o acesso e o uso da
                            plataforma Abakate (doravante “Plataforma” ou “Abakate”), disponibilizada e mantida por
                            <strong>RW
                                INTERMEDIAÇÃO, SERVIÇOS DIGITAIS, DESENVOLVIMENTO DE TECNOLOGIAS E PARTICIPAÇÕES LTDA.,</strong>
                            sociedade limitada inscrita no CNPJ/MF sob o nº 11.333.188/0001-06, com sede na Cidade e
                            Estado
                            de São Paulo, na Av. Horácio Lafer, 160, conjunto 52, Itaim Bibi (doravante “Abakate”).
                        </p>
                        <p>
                            Por meio da Plataforma, o Usuário poderá realizar a compra e venda de moedas
                            criptografadas,
                            similares e afins, exceto valores mobiliários e imobiliários.
                        </p>
                        <p>
                            O Usuário poderá verificar as disposições destes Termos de Uso a qualquer momento por meio
                            da
                            Plataforma em nosso guia no site da Abakate na página <a routerLink="/termos-e-condicoes-de-uso">Termos
                                e Condições</a>. Interpreta-se conjuntamente com as disposições da Política de
                            Privacidade
                            da Plataforma no site da Abakate na página <a routerLink="/politicas-de-privacidade">Política
                                de Privacidade</a>.
                        </p>
                        <p>
                            <strong>
                                <u>
                                    Antes de utilizar a Plataforma, o Usuário deverá ler atentamente todo o conteúdo
                                    deste
                                    documento, e, caso esteja de acordo, deverá manifestar seu consentimento livre,
                                    expresso e informado, desprovido de quaisquer reservas, acerca de todas as
                                    disposições
                                    aqui apresentadas, por meio do seu clique no botão “Aceito os Termos de Uso e a
                                    Política de Privacidade”. Contudo, destacamos que, caso o Usuário discorde do
                                    disposto
                                    nestes Termos, deverá se abster de utilizar a Plataforma.
                                </u>
                            </strong>
                        </p>
                        <ol type="1">
                            <li>
                                <p> <strong> DAS DEFINIÇÕES </strong> </p>
                                <p>
                                    As disposições constantes nesta Política de Privacidade, sempre que usadas com a
                                    primeira
                                    letra em maiúscula, no plural ou no singular, terão o significado abaixo
                                    apresentado:
                                </p>
                                <ol type="a">
                                    <li>
                                        <strong>Anunciantes:</strong> Bancos, seguradoras, corretoras de seguros entre
                                        outros.
                                    </li>
                                    <li>
                                        <strong>Aceitar ou Aceite:</strong> é o ato pelo qual o Usuário declara, ao
                                        clicar
                                        na caixa de diálogo dos Termos de Uso e Política de Privacidade,
                                        disponibilizados
                                        na Plataforma, que leu e aceitou todos as disposições neles previstas,
                                        fornecendo o
                                        seu <strong>consentimento livre, expresso e informado</strong> relação a todo o
                                        disposto em tais
                                        documentos.
                                    </li>
                                    <li>
                                        <strong>Conteúdo:</strong> significa toda e qualquer informação disponibilizada
                                        na
                                        ou por meio da Plataforma, tais como textos, dados, software, imagens, vídeos,
                                        áudios, recursos interativos, etc., incluindo-se os códigos fontes empregados
                                        para
                                        exibição desses conteúdos, como aqueles em linguagem HTML, CSS, PHP, entre
                                        outros.
                                    </li>
                                    <li>
                                        <strong>Conta Abakate:</strong> significa a conta de acesso do Usuário à
                                        Abakate.
                                    </li>
                                    <li>
                                        <strong>Dados de Conta:</strong> significam qualquer informação que o Usuário
                                        forneça à Abakate, tais como, mas não limitado a, dados da instituição
                                        financeira,
                                        número de agência bancária e número de conta.
                                    </li>
                                    <li>
                                        <strong>Dados Pessoais:</strong> significa qualquer dado relacionado à pessoa
                                        natural identificada ou identificável, inclusive números identificativos, dados
                                        locacionais ou identificadores eletrônicos, tais como, mas não limitado a,
                                        nome,
                                        endereço, número de telefone, número de fax ou endereço de e-mail.
                                    </li>
                                    <li>
                                        <strong>Plataforma ou Aplicativo:</strong> é a aplicação de internet hospedada
                                        no
                                        endereço eletrônico <a href="www.abakate.com.br">www.abakate.com.br</a> ou
                                        qualquer
                                        outro que vier a substituí-lo,
                                        por meio do qual serão obtidos, geridos e manejados todos os dados do Usuário,
                                        sempre de maneira automatizada e segura.
                                    </li>
                                    <li>
                                        <strong>Política de Privacidade:</strong> significa o documento no qual constam
                                        todas as disposições sobre a coleta, processamento, utilização, armazenamento e
                                        compartilhamento dos dados do Usuário, e que poderá ser encontrada no site da
                                        Abakate na página <a routerLink="/politicas-de-privacidade">Política de
                                            Privacidade</a>.
                                    </li>
                                    <li>
                                        <strong>Usuário:</strong> significa uma pessoa física, maior de idade, ou
                                        jurídica, com plena capacidade de contratar, que acessa a Plataforma, e realiza
                                        o
                                        seu cadastro pessoal de modo a usufruir das funcionalidades oferecidas pela
                                        Abakate, aderindo, desta forma, aos presentes Termos de Uso e à Política de
                                        Privacidade.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>DA ADESÃO</strong> </p>
                                <p>
                                    Para a realização do cadastro e utilização das funcionalidades da Plataforma, é
                                    obrigatória a leitura, compreensão e Aceite do presente Termo de Uso e da Política
                                    de
                                    Privacidade pelo Usuário. <strong>O ACEITE DOS TERMOS DE USO IRÁ IMPLICAR O
                                        RECONHECIMENTO, PELO USUÁRIO, DA LEITURA E COMPREENSÃO DE TODAS AS DISPOSIÇÕES
                                        CONSTANTES NESTE INSTRUMENTO, BEM COMO SEU CONSENTIMENTO LIVRE, EXPRESSO E
                                        INFORMADO COM RELAÇÃO A TODAS AS CONDIÇÕES PREVISTAS NESTE DOCUMENTO</strong>.
                                    CASO
                                    O USUÁRIO TENHA QUALQUER DÚVIDA SOBRE O TERMO DE USO E/OU A POLÍTICA DE
                                    PRIVACIDADE, A
                                    ABAKATE RECOMENDA QUE ENTRE EM CONTATO COM ESTA ANTES DE PROCEDER À ACEITAÇÃO DOS
                                    PRESENTES TERMOS.
                                </p>
                                <p>
                                    A partir do momento em que o Usuário Aceitar os Termos disponibilizados na
                                    Plataforma, as regras nele contidas passarão a regular a relação entre a Abakate e
                                    o
                                    Usuário.
                                </p>
                                <p>
                                    O Usuário, ainda, declara-se ciente de que os presentes Termos poderão vir a ser
                                    alterados a qualquer tempo. Assim, reconhece ser dever do Usuário manter-se atento
                                    a
                                    possíveis atualizações dos Termos.
                                </p>
                            </li>
                            <li>
                                <p> <strong>DA COMUNICAÇÃO COM A ABAKATE</strong> </p>
                                <p>
                                    Para qualquer assunto relacionado às condições destes Termos, como, por exemplo,
                                    mas não limitado a, esclarecimento de dúvidas e requerimentos, o Usuário deverá
                                    entrar
                                    em contato com a Abakate por meio da plataforma em “Ajuda”.
                                </p>
                            </li>
                            <li>
                                <p> <strong>DA UTILIZAÇÃO DA PLATAFORMA</strong> </p>
                                <p>
                                    4.1 Estes Termos de Uso concedem ao Usuário uma licença pessoal, mundial,
                                    revogável,
                                    não exclusiva, intransferível de acesso à Plataforma, sendo certo que o Usuário não
                                    poderá utilizar ou permitir o uso da Plataforma para qualquer outra finalidade que
                                    não
                                    expressamente prevista nestes Termos. Assim, o Usuário declara-se ciente de que é
                                    terminantemente proibido copiar, modificar, distribuir ou vender os serviços
                                    disponibilizados pela Abakate por meio da Plataforma, bem como qualquer parte
                                    desta.
                                </p>
                                <p>
                                    4.2 Para a utilização da Plataforma, o Usuário deverá realizar o seu cadastro, ato
                                    no
                                    qual o Usuário fornecerá à Abakate os seus Dados Pessoais cadastrais, devendo criar
                                    o
                                    seu nome de usuário (“Login”) e senha, os quais possuem caráter pessoal e
                                    intransferível, sendo utilizados para acesso à Conta Abakate do Usuário.
                                </p>
                                <ol class="terms__nested" style="list-style: none;">
                                    <li>
                                        4.2.1 O Usuário declara-se ciente de que será responsável pela veracidade,
                                        validade e precisão dos Dados Pessoais e Dados de Conta fornecidos em seu
                                        cadastro,
                                        e, após a sua conclusão, pela sua constante atualização.
                                    </li>
                                    <li>
                                        4.2.2 O Usuário entende que a Abakate fará a validação dos Dados Pessoais ou
                                        de
                                        Conta fornecidos pelos Usuários, e poderá, ao seu exclusivo critério, excluir
                                        as
                                        informações que esta entenda como inverídicas ou ofensivas, suspendendo o
                                        acesso à
                                        Conta Abakate do Usuário, até sua posterior regularização.
                                    </li>
                                    <li>
                                        <u>
                                            4.2.3 O Usuário reconhece que sua senha e Login para acesso a sua Conta
                                            Abakate são confidenciais e de sua exclusiva responsabilidade, devendo este
                                            entrar em contato com a Abakate, imediatamente, na hipótese ou em caso de
                                            suspeita de comprometimento do seu sigilo.
                                        </u>
                                    </li>
                                    <li>
                                        <strong>
                                            <u>
                                                4.2.4 O Usuário está plenamente ciente e concorda que, ao fornecer os
                                                seus
                                                Dados Pessoais à Abakate, o Usuário autoriza a Abakate a usar tais
                                                dados na
                                                forma prevista na Política de Privacidade da Plataforma.
                                            </u>
                                        </strong>
                                    </li>
                                    <li>
                                        4.2.5 O uso da Plataforma, pelo Usuário, possui caráter pessoal e
                                        intransferível,
                                        unicamente para fins lícitos relacionados ao propósito a que esta se destina,
                                        nos
                                        termos destes Termos.
                                    </li>
                                    <li>
                                        <strong>
                                            <u>
                                                4.2.6 O Usuário declara-se ciente dos riscos assumidos quando da
                                                utilização da Plataforma, eximindo a Abakate de qualquer
                                                responsabilidade
                                                por qualquer conduta ilícita, decorrente de culpa ou dolo do Usuário ou
                                                de
                                                terceiro, em razão do uso indevido da Plataforma ou em razão de
                                                eventual
                                                uso indevido de seus Dados de Conta.
                                            </u>
                                        </strong>
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>LIMITAÇÕES DE USO E INTERFERÊNCIA</strong> </p>
                                <p>
                                    É vedado ao Usuário:
                                </p>
                                <ol type="a" class="terms__nested">
                                    <li>
                                        Utilizar a Plataforma para divulgar informações que, de qualquer forma, possam
                                        implicar violação à legislação brasileira, a direitos de propriedade da Abakate
                                        e/ou de terceiros ou dos bons costumes, incluindo, sem limitação, a violação de
                                        direitos de propriedade intelectual e de privacidade, ou a produção e
                                        divulgação de
                                        conteúdo ilegal, imoral, inapropriado ou ofensivo;
                                    </li>
                                    <li>
                                        Copiar, ceder, sublicenciar, vender, dar em locação ou em garantia, reproduzir,
                                        doar, alienar de qualquer forma, transferir total ou parcialmente, sob
                                        quaisquer
                                        modalidades, gratuita ou onerosamente, provisória ou permanentemente, a
                                        Plataforma,
                                        assim como seus módulos, partes, manuais ou quaisquer informações relativas ao
                                        mesmo;
                                    </li>
                                    <li>
                                        Empregar softwares, técnicas e/ou artifícios com o intuito de utilizar
                                        indevidamente a Plataforma para práticas nocivas à Abakate ou a terceiros, tais
                                        como <i>exploits, spamming, flooding, spoofing, crashing, root kits</i>, etc.;
                                    </li>
                                    <li>
                                        Reproduzir, adaptar e ou modificar, no todo ou em parte, a Plataforma, sem a
                                        autorização expressa da Abakate;
                                    </li>
                                    <li>
                                        Publicar ou transmitir qualquer arquivo que contenha vírus ou quaisquer outros
                                        elementos nocivos que possam, de qualquer forma interferir, no bom
                                        funcionamento da
                                        Plataforma ou nos dispositivos informáticos de seus Usuários;
                                    </li>
                                    <li>
                                        Utilizar a Plataforma para finalidade diversa daquela para a qual foi
                                        disponibilizado pela Abakate;
                                    </li>
                                    <li>
                                        Divulgar, utilizar ou modificar indevidamente os dados de outros Usuários; e
                                    </li>
                                    <li>
                                        Utilizar a Plataforma, ou permitir seu uso, para benefício ilícito próprio ou
                                        de
                                        terceiros.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>PROPRIEDADE INTELECTUAL</strong> </p>
                                <p>
                                    Cada um dos textos, fotografias, projetos, plantas, imagens, vídeos, ilustrações,
                                    ícones, tecnologias, links e demais conteúdos audiovisuais ou sonoros, incluindo o
                                    software da Plataforma, desenhos gráficos e códigos fonte, são de propriedade
                                    exclusiva
                                    da Abakate ou de terceiro que tenha autorizado sua utilização na Plataforma,
                                    estando
                                    protegidos pelas leis e tratados internacionais, sendo vedada sua cópia,
                                    reprodução, ou
                                    qualquer outro tipo de utilização, ficando os infratores sujeitos às sanções civis
                                    e
                                    criminais correspondentes, nos termos das Leis 9.279/96, 9.609/98 e 9.610/98.
                                </p>
                                <p>
                                    As marcas, os nomes comerciais ou logotipos de qualquer espécie apresentados por
                                    meio da Plataforma são de propriedade da Abakate ou de terceiro, de modo que a
                                    utilização do Portal não consiste em autorização para que o Usuário possa citar as
                                    tais
                                    marcas, nomes comerciais e logotipos.
                                </p>
                            </li>
                            <li>
                                <p> <strong>MANUTENÇÃO DA PLATAFORMA</strong> </p>
                                <p>
                                    7.1 A Abakate poderá, ao seu exclusivo critério, a qualquer tempo, e sem a
                                    necessidade
                                    de comunicação prévia ao Usuário ou pagamento de qualquer valor a título de
                                    indenização:
                                </p>
                                <ol type="a" class="terms__nested">
                                    <li>
                                        Encerrar, modificar ou suspender, total ou parcialmente, o acesso do Usuário à
                                        Plataforma, quando referido acesso ou cadastro violar as condições
                                        estabelecidas
                                        nestes Termos e/ou na Política de Privacidade;
                                    </li>
                                    <li>
                                        Acrescentar, excluir ou modificar o conteúdo disponibilizado na Plataforma.
                                    </li>
                                    <li>
                                        Suspender, modificar ou encerrar as atividades da Plataforma, mediante
                                        comunicação
                                        prévia ao Usuário, com, pelo menos, 30 (trinta) dias úteis, salvo nas hipóteses
                                        de
                                        caso fortuito ou força maior.
                                    </li>
                                </ol>
                                <p class="mt-4">
                                    7.2 A qualquer tempo, a Abakate poderá, ainda:
                                </p>
                                <ol type="a" class="terms__nested">
                                    <li>
                                        Definir preços para oferecimento de determinados conteúdos e/ou serviços, ainda
                                        que inicialmente tenham sido ofertados de forma gratuita; e,
                                    </li>
                                    <li>
                                        Enviar ao Usuário mensagens de e-mail ou outras correspondências de caráter
                                        informativo, comercial e/ou promocional, salvo se expressamente refutado pelo
                                        Usuário, nos termos da Política de Privacidade.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <p> <strong>LIMITAÇÃO DE RESPONSABILIDADE</strong> </p>
                                <p>
                                    <u>
                                        8.1 O Usuário declara-se ciente de que a Abakate não responderá, <strong>em
                                            nenhuma
                                            hipótese</strong>, ainda que em caráter solidário ou subsidiário:
                                    </u>
                                </p>
                                <ol type="a" class="terms__nested">
                                    <li>
                                        <u>
                                            Pela autenticidade, validade e precisão dos dados fornecidos pelos Usuários
                                            e/ou coletadas nos sites das instituições financeiras, <strong>competindo
                                                ao
                                                Usuário verificar, por conta própria, se tais informações são
                                                verdadeiras e
                                                completas antes de tomar qualquer decisão nelas baseada</strong>;
                                        </u>
                                    </li>
                                    <li>
                                        <u>
                                            Pelos serviços ou produtos oferecidos na Plataforma, por Anunciantes ou
                                            quaisquer terceiros, inclusive no que diz respeito a sua disponibilidade,
                                            qualidade, quantidade, características essenciais, ofertas, preços, formas
                                            de
                                            pagamento ou quaisquer outros elementos a ele referentes;
                                        </u>
                                    </li>
                                    <li>
                                        Por eventuais prejuízos sofridos pelos Usuários, em razão da tomada de decisões
                                        com base nas informações disponibilizadas no Site;
                                    </li>
                                    <li>
                                        Por eventuais prejuízos sofridos pelos Usuários em razão de falhas no sistema
                                        de
                                        informática ou nos servidores, que independam da Abakate, ou em sua
                                        conectividade com a
                                        internet de modo geral, devendo o Usuário manter, às suas expensas, linha de
                                        telecomunicação, modem, software de comunicação, endereço de correio eletrônico
                                        e
                                        outros recursos necessários à comunicação com a Abakate.
                                    </li>
                                    <li>
                                        Nas hipóteses de caso fortuito ou força maior, nos termos do artigo 393 do
                                        Código Civil
                                        Brasileiro; e
                                    </li>
                                    <li>
                                        Por quaisquer danos causados por programas nocivos ao Software, tais como, mas
                                        sem se
                                        limitar a vírus, trojans e hackers, comprometendo-se, a Abakate, em empregar
                                        todos os
                                        meios de segurança comercialmente razoáveis.
                                    </li>
                                </ol>
                                <p class="mt-4">
                                    8.2 A Abakate não garante que as funções contidas na Plataforma atendam às
                                    necessidades
                                    do
                                    Usuário, que a sua disponibilidade será ininterrupta ou livre de erros ou que a
                                    Plataforma
                                    será compatível ou funcionará com qualquer software, aplicações ou serviços de
                                    terceiros.
                                </p>
                                <p>
                                    8.3 Usuário entende e concorda que a Abakate irá adotar medidas de segurança e de
                                    proteção
                                    compatíveis com a natureza dos dados coletados, usados e armazenados pela abakate.
                                    NO
                                    ENTANTO, A ABAKATE NÃO GARANTE DE FORMA ALGUMA QUE TAIS MEDIDAS DE SEGURANÇA SEJAM
                                    ISENTAS
                                    DE ERROS OU QUE NÃO ESTEJAM SUJEITAS À INTERFERÊNCIA DE TERCEIROS (HACKERS, ENTRE
                                    OUTROS).
                                    AO ACEITAR O TERMO DE USO E/OU USAR A ABAKATE O USUÁRIO ENTENDE E ASSUME
                                    EXPRESSAMENTE ESSE
                                    RISCO E CONCORDA QUE A ABAKATE NÃO SERÁ RESPONSÁVEL POR TAL CONDUTA.
                                </p>
                                <p>
                                    8.4 A ABAKATE NÃO SE RESPONSABILIZA POR QUALQUER DECISÃO FINANCEIRA TOMADA PELO
                                    USUÁRIO
                                    COM
                                    BASE NAS INFORMAÇÕES OBTIDAS POR MEIO DA UTILIZAÇÃO DA PLATAFORMA, incluindo, sem
                                    limitação, qualquer decisão tomada utilizando-se de eventual informação
                                    incorreta/desatualizada disponibilizada nesta. Assim, o Usuário reconhece ser de
                                    sua única
                                    e exclusiva responsabilidade conferir qualquer informação disponibilizada pela
                                    Abakate,
                                    junto à instituição bancária de origem dos respectivos Dados Financeiros Pessoais.
                                </p>
                            </li>
                            <!-- ITEM 9 -->
                            <li>
                                <p> <strong>INDENIZAÇÃO</strong> </p>
                                <p>
                                    O Usuário concorda em defender, indenizar e manter indene a Abakate e suas
                                    afiliadas, diretores, empregados e agentes, de e contra quaisquer encargos, ações
                                    ou
                                    demandas, incluindo, mas não limitado a, honorários advocatícios razoáveis,
                                    resultantes: (i) da sua eventual utilização indevida da Plataforma e/ou do seu
                                    conteúdo; ou (ii) da violação das condições ora pactuadas.
                                </p>
                                <p>
                                    Em nenhum caso a Abakate será responsável por danos pessoais ou qualquer prejuízo
                                    incidental, indireto ou consequente, lucros cessantes, incluindo, sem limitação,
                                    prejuízos por perda de lucro, corrupção ou perda de dados, falha de transmissão ou
                                    recepção de dados, não continuidade do negócio ou qualquer outro prejuízo ou perda
                                    comercial, decorrentes ou relacionados ao seu uso ou sua inabilidade em usar a
                                    Plataforma, por qualquer outro motivo.
                                </p>
                            </li>
                            <li>
                                <p> <strong>VIGÊNCIA E RESCISÃO</strong> </p>
                                <p>
                                    Os Termos vigerão por prazo indeterminado, a partir do Aceite do Usuário.
                                </p>
                                <p>
                                    O Usuário poderá, a qualquer momento, solicitar a exclusão da sua Conta Abakate,
                                    encerrando seu relacionamento com a Abakate, mediante solicitação realizada
                                    diretamente
                                    por meio da Plataforma. Neste caso, os dados do Usuário serão tratados da forma
                                    prevista na Política de Privacidade.
                                </p>
                            </li>
                            <li>
                                <p> <strong>DISPOSIÇÕES GERAIS</strong> </p>
                                <p>
                                    Estes Termos de Uso não geram nenhum contrato de sociedade, de mandato, franquia
                                    ou relação de trabalho entre a Abakate e o Usuário, seus parceiros e/ou
                                    Anunciantes.
                                </p>
                                <p>
                                    Caso qualquer disposição destes Termos seja considerada ilegal, nula ou inexequível
                                    por
                                    qualquer razão, as disposições restantes não serão afetadas e manter-se-ão válidas
                                    e
                                    aplicáveis na máxima extensão possível.
                                </p>
                                <p>
                                    Estes Termos constituem a totalidade do acordo sobre as condições de uso da
                                    Plataforma.
                                    O Usuário declara ter ciência dos direitos e obrigações decorrentes dos presentes
                                    Termos de Uso, tendo lido, compreendido e aceito todos os termos e condições.
                                </p>
                                <p>
                                    Qualquer falha da Abakate para impor ou exercer qualquer disposição destes Termos
                                    ou
                                    direitos conexos, não constitui uma renúncia a esse direito ou disposição.
                                </p>
                            </li>
                            <li>
                                <p> <strong>LEI E FORO APLICÁVEIS</strong> </p>
                                <p>
                                    Estes Termos de Uso serão interpretados exclusivamente segundo as leis do Brasil.
                                </p>
                                <p>
                                    Fica eleito o Foro do domicilio do Usuário para dirimir quaisquer dúvidas, questões
                                    ou
                                    litígios decorrentes dos presentes Termos, renunciando as partes a qualquer outro,
                                    por
                                    mais privilegiado que seja.
                                </p>
                            </li>
                        </ol>
                    </div>
                    <div class="terms__date">
                        Última atualização: 05.09.2018.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-l-footer></app-l-footer>
</div>
