<div class="price-chart">
    <div id="pricechartdiv" class="pricechartdiv"></div>

    <!-- TITLE -->
    <div class="pricechart-title">
        {{ 'priceChart' | translate | uppercase}}
    </div>

    <!-- 
    <div class="pricechart-filter-box">
        <div class="pricechart-filter">{{ 'time' | translate }}</div>
        <mat-form-field class="pricechart-filter-select-time">
            <mat-select [(value)]="timeSelected" (selectionChange)="selectFilterTime($event)">
                <mat-option *ngFor="let option of timeOptions" value="{{option}}">
                    {{ option }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
</div>