.shared-button-toggle {

    .mat-button-toggle-group,
    .mat-button-toggle {
        font-size: 0.9rem;
        border-radius: 2rem;
        text-transform: capitalize;
        color: $color-font;
        font-weight: bold;
        background-color: #1a1a1a;
        height: 2.25rem;
    }

    #mat-button-toggle-1,
    #mat-button-toggle-2 {
        padding: 0 !important;
    }

    .mat-button-toggle-checked {
        background-color: $color-white;
        color: $color-font-13;
    }

    .mat-button-toggle-label-content {
        padding-bottom: 0 !important;
        font-size: 600 !important;
    }

    .mat-button-toggle-checked {
        color: $color-font-14 !important;
    }
}
