.cryptotype-component {
    .crypto-type {
        margin: .4rem 0 0 2rem;
        cursor: pointer;

        &:focus {
            outline: unset;
        }

        @include respond(phone) {
            margin: .4rem 0 .5rem .2rem;
        }
    }

    .cryptotype-icon {
        display: inline-block;
        width: 1.9rem;
        height: 1.9rem;
        opacity: .6;
        margin-top: .2rem;
        vertical-align: top;
    }

    .cryptotype-icon img {
        width: 100%;
        height: 100%;

        @include respond(phone) {
            height: 3.4rem;
            width: 3.4rem;
        }
    }

    .cryptotype-data {
        display: inline-block;
    }

    .cryptotype-data h6 {
        display: block;
        margin: 0;
        margin-left: .4rem;
        padding: 0;
        color: $color-font-8;
        font-size: .7rem;
        line-height: 0;

        @include respond(phone) {
            display: none;
        }
    }

    .cryptotype-data-box {
        display: inline-block;
        vertical-align: middle;

        @include respond(phone) {
            display: none;
        }
    }

    .cryptotype-data-box-content {
        display: inline-block;
        margin-right: 1rem;
    }

    .cryptotype-data-box::after {
        display: inline-block;
        content: '';
        height: 2.2rem;
        width: .125rem;
        background-color: $color-font-8;
        vertical-align: bottom;
    }

    .cryptotype-BTC {
        display: inline-block;
    }

    .cryptotype-BTC-volume,
    .cryptotype-ETH-volume {
        font-size: 1rem;
        min-width: 8.2rem;
        text-align: right;
        font-weight: 500;
        line-height: 1;
    }

    .cryptotype-BTC-volume {
        color: $color-currency-bitcoin;
    }

    .cryptotype-BTC-volume span {
        font-size: .8rem;
    }

    .cryptotype-label {
        color: $color-font-8;
        font-size: .6rem;
        text-align: right;

        @include respond(phone) {
            font-size: .9rem;
        }
    }

    .ticcryptotypeker-label-margin {
        margin-top: -.2rem;
    }

    .cryptotype-volume-variation {
        font-size: .9rem;
        color: $color-white;
        min-width: 4rem;
        text-align: right;
        font-weight: 500;
        line-height: 1;

        @include respond(phone) {
            text-align: center;
            font-size: 1.06rem;
        }
    }

    .cryptotype-volume-variation-positive {
        color: $color-positive;
    }

    .cryptotype-volume-variation-negative {
        color: $color-negative;
    }

    .cryptotype-price {
        display: inline-block;
        color: $color-currency-reais;
        font-size: 1rem;
        margin-right: 5rem;
        margin-left: 1rem;
        vertical-align: middle;

        @include respond(phone) {
            font-size: 1.45rem;
            margin-right: 1rem;
            vertical-align: initial;
            margin-left: 1.5rem;
        }
    }

    .cryptotype-real {
        margin-top: .3rem;
    }

    .cryptotype-crypto {
        margin: .4rem 0 0 2rem;
    }

    .cryptotype-ETH-volume {
        color: $color-currency-ethereum;
    }

    .cryptotype-ETH-volume span {
        font-size: .8rem;
    }

    .hide-desktop {
        display: none;
    }

    @include respond(phone) {
        .visible-mobile {
            display: inline-block;
        }
    }
}
