// SETTINGS MODAL
.custom-dialog {
    .mat-dialog-container {
        background-color: $color-background-12;
        box-shadow: 0 0 0.7rem 0 $color-background-8;
    }

    .mat-dialog-content {
        overflow: unset !important;
    }
}

// SIGN UP MODAL ERROR
.sign-error-dialog {
    .mat-dialog-container {
        background-color: $color-white;
        box-shadow: 0 0 0.7rem 0 $color-background-8;
        color: $color-background-13;
    }

    .mat-dialog-content {
        overflow: unset !important;
    }
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {

    // SETTINGS MODAL
    &.dark-backdrop {
        opacity: 0.9 !important;
        background-color: $color-background-3;
    }

    // SIGN UP MODAL ERROR
    &.white-backdrop {
        opacity: 0.4;
        background-color: $color-background-3;
    }
}
