.selectcrypto-component {
    .selectcrypto-form {
        width: 8.12rem;
    }

    .selectcrypto::ng-deep.mat-select,
    .selectcrypto::ng-deep.mat-select-value {
        font-size: .9rem;
    }

    .selectcrypto::ng-deep.mat-input-underline.mat-form-field-underline,
    .selectcrypto::ng-deep.mat-input-ripple.mat-form-field-ripple {
        background-color: $color-transparent;
    }

    .mat-form-field {
        width: auto !important;
    }

    .mat-select-value {
        max-width: 100%;
        width: auto;
    }

    .selectcrypto {
        padding: 1rem .5rem 0 1rem;
        background-color: $color-background-2;
    }

    .mat-form-field-underline {
        display: none;
    }

    @include respond(phone) {
        .mat-form-field {
            display: unset;
            position: unset;
            text-align: left;
        }

        .mat-form-field-infix {
            height: 5.8rem;
        }

        .mat-select {
            width: 45%;
            float: right;
            font-size: 1.45rem;
            font-weight: 600;
        }

        .mat-form-field-label-wrapper {
            position: -webkit-sticky;
            position: sticky;
            width: 50%;
            float: left;
            text-align: right;
            text-transform: uppercase;
            font-size: 1.27rem;
            margin-top: .5rem;
        }
    }
}
